.Password-block {
    margin: 60px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Password {
    border: 1px solid lightgrey;
    width: 230px;
    height: 100px;
}

.Numbers {
    color: black;
}

.Green {
    color: green;
}

.Red {
    color: red;
}

.Password > h1 {
    margin: 0;
    padding: 48px 12px 11px;
    text-align: right;
    font-size: 40px;
}

.Buttons {
    float: left;
    width: 240px;
    text-align: center;
}

.Buttons > button {
    padding: 14px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.Buttons > button:hover {
    background-color: #e7e7e7;
}